
<div class="t-pagination" v-if="paging.total > 1" :class="[align?'t-'+align:'']">

    <ul v-if="remote" class="t-paging">
        <li v-if="paging.left == ''" class="first disabled"><a>首页</a></li>
        <template v-else>
            <li class="first effect"><a href="javascript:;" @click="up">上一页</a></li>
        </template>

        <template v-if="paging.first != ''">
            <li class="effect"><a href="javascript:;" @click="pageClick(1)">1</a></li>
            <li>...</li>
        </template>

        <template v-for="(value, key) in paging.pageList">
            <li v-if="paging.current == key" class="active">
                <a>{{key}}</a>
            </li>
            <li v-else class="effect">
                <a href="javascript:;" @click="pageClick(key)">{{key}}</a>
            </li>
        </template>

        <template v-if="paging.last != ''">
            <li>...</li>
            <li class="effect"><a href="javascript:;" @click="pageClick(paging.total)">{{paging.total}}</a></li>
        </template>

        <li v-if="paging.right == ''" class="last disabled"><a>尾页</a></li>
        <template v-else>
            <li class="last effect"><a href="javascript:;" @click="down">下一页</a></li>
        </template>
    </ul>

    <ul v-else class="t-paging">
        <li v-if="paging.left == ''" class="first disabled"><a>首页</a></li>
        <template v-else>
            <li class="first effect"><a :href="paging.left">上一页</a></li>
        </template>

        <template v-if="paging.first != ''">
            <li class="effect"><a :href="paging.first">1</a></li>
            <li>...</li>
        </template>

        <template v-for="(value, key) in paging.pageList">
            <li v-if="paging.current == key" class="active"><a>{{key}}</a></li>
            <li v-else class="effect"><a :href="value">{{key}}</a></li>
        </template>

        <template v-if="paging.last != ''">
            <li>...</li>
            <li class="effect"><a :href="paging.last">{{paging.total}}</a></li>
        </template>

        <li v-if="paging.right == ''" class="last disabled"><a>尾页</a></li>
        <template v-else>
            <li class="last effect"><a :href="paging.right">下一页</a></li>
        </template>
    </ul>

</div>