@import '../../less/index.less';

.t-input{
    display: block;
    padding: 4px 11px;
    color: @font-text;
    background-color: #ffffff !important;
    .cpt-base;
    
    input{
        display: block;
        width: 100%;
    }

    &.t-input-disabled{
        background-color: @base-bgm !important;
        cursor: not-allowed;
        
        input{
            cursor: not-allowed;
        }
    }
    &.t-input-size-ting{
        .font-size-2;
    }
    &.t-input-size-default{
        .font-size-3;
    }
    &.t-input-size-large{
        .font-size-4;
    }
}

