.t-btn{
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 4px;
}

.t-btn-size-tiny{
    font-size: 12px;
    padding: 4px 15px;
}
.t-btn-size-default{
    font-size: 14px;
    padding: 6px 18px;
}
.t-btn-size-large{
    font-size: 16px;
    padding: 8px 28px;
}
.t-btn-size-long{
    font-size: 14px;
    padding: 6px 18px;
    width: 100%;
}

.t-btn-type-default{
    background: #f7f7f7;
    color: #495060;
    border: 1px solid #dddee1;
}
.t-btn-type-default:hover{
    background: #ffffff;
    color: #57a3f3;
    border: 1px solid #57a3f3;
}

.t-btn-type-text{
    color: #495060;
    border: 1px solid rgba(255,255,255,0);
}
.t-btn-type-text:hover{
    color: #57a3f3;
    border: 1px solid rgba(255,255,255,0);
}

.t-btn-type-warning{
    background: #ff9900;
    color: #fff;
    border: 1px solid #ff9900;
}
.t-btn-type-warning:hover{
    background: #ffad33;
    color: #fff;
    border: 1px solid #ffad33;
}

.t-btn-type-error{
    background: #ed3f14;
    color: #fff;
    border: 1px solid #ed3f14;
}
.t-btn-type-error:hover{
    background: #f16543;
    color: #fff;
    border: 1px solid #ed3f14;
}