
.t-clock{
    position: absolute;
    z-index: 2500;
    background-color: #E5E9F2;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.t-clock_header{
    padding: 10px 10px 0 10px;
}
.t-clock_content{
    padding: 10px;
}

.t-clock_time{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}
.t-clock_time .text-color{
    color: #20a0ff;
}
.t-clock_time b{
    cursor: pointer;
}

.t-clock_plate{
    width: 200px;
    height: 200px;
    overflow: visible;
    position: relative;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.t-clock_canvas, .t-clock_dial {
    width: 200px;
    height: 200px;
    position: absolute;
    left: -1px;
    top: -1px;
}
.t-clock_tick{
    border-radius: 50%;
    color: #666;
    line-height: 26px;
    text-align: center;
    width: 26px;
    height: 26px;
    position: absolute;
    cursor: pointer;
    font-size: 12px;
}
.t-clock_tick:hover{
    /*background-color: #90dbf7;*/
    color: #333;
    background-color: #c0e5f7;
    background-color: rgba(0,149,221,.25);
}

.t-clock_circle-center,.t-clock_circle-fg{
    stroke: none;
    fill: #20a0ff;
}
.t-clock_circle-bg{
    stroke: none;
    fill: #90dbf7;
}
.t-clock_canvas line {
    stroke: #20a0ff;
    stroke-width: 1;
    stroke-linecap: round;
}