
.t-date-picker{
    position: absolute;
    max-width: 244px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    box-sizing: border-box;
    line-height: 20px;
    z-index: 2500;
    font-family: Helvetica Neue,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.t-date_header{
    padding: 15px 10px;
    text-align: center;
    color: #333;
    font-size: 14px;
}

.t-date_header .t-date_prev span,
.t-date_header .t-date_next span{
    padding: 0 5px;
    color: #707070;
    cursor: pointer;
}

.t-date_header span:hover{
    color: #FF7241;
    cursor: pointer;
}

.t-date_prev{
    float: left;
}
.t-date_next{
    float: right;
}

.t-date_content{
    padding: 0 10px 10px 10px;
    color: #333;
}
.t-date-table{
    font-size: 12px;
}
.t-date-picker table {
    table-layout: fixed;
    width: 100%;
    border: none;
}
.t-date-table th{
    padding: 5px;
    color: #888;
    font-weight: 400;
}
.t-date-table td{
    width: 32px;
    height: 32px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.t-date-table td.usable:hover{
    background-color: #E9E9E9;
}

.t-date-table td.today {
    color: #FF7241;
}
.t-date-table td.current{
    background-color: #FF7241;
    color: #fff;
}
.t-date-table td.current{
    background-color: #FF7241!important;
    color: #fff;
}
.t-date-table td.disabled{
    background-color: #f4f4f4;
    cursor: not-allowed;
    color: #ccc;
}

.t-date-table td.last,
.t-date-table td.next{
    background-color: #f1f1f1;
    color: #ccc;
}