
<div class="t-date-picker" v-show="visible">
    <div class="t-date_header">
        <div class="t-date_prev">
            <span @click.prevent="lastYear"> << </span>
            <span @click.prevent="lastMonth"> < </span>
        </div>
        <span class="t-date_year"> {{year}}年</span>
        <span class="t-date_month"> {{month + 1}}月 </span>
        <div class="t-date_next">
            <span @click.prevent="nextMonth"> > </span>
            <span @click.prevent="nextYear"> >> </span>
        </div>
    </div>
    <div class="t-date_content">
        <table class="t-date-table" @click="handleClick">
            <tr>
                <th v-for="week in weeks">{{week}}</th>
            </tr>

            <tr class="t-table_row" v-for="row in tableRows">

                <td
                    v-for="cell in row"
                    :class="getCellClass(cell)"
                    v-text="cell.type == 'today'? '今天': cell.text"
                ></td>

            </tr>
        </table>
        <!--<table class="t-year-table"></table>-->
        <!--<table class="t-month-table"></table>-->
    </div>
</div>