

.t-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
    font-size: 0;
    vertical-align: middle;
}

.t-checkbox_input {
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    outline: none;
}


.t-checkbox_label{
    font-size: 14px;
    padding-left: 5px;
    vertical-align: middle;
}

.t-checkbox_ori {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0;
    outline: none;
}

.t-checkbox_fake{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    box-sizing: border-box;
}
.t-checkbox_fake:after{
    content: "";
    height: 8px;
    left: 5px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 4px;
    transform-origin: center center 0px;
    border-width: 0 2px 2px 0;
    border-style: solid solid;
    border-color: #fff #fff;
    border-image: initial;
    border-left: 0;
    border-top: 0;
    box-sizing: content-box;
    transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
}

.t-checkbox_fake:hover{
    border-color: #FF7438;
}

.t-checkbox_fake.checked{
    background-color: #FF7438;
    border-color: #FF7438;
}

.t-checkbox_fake.checked:after {
    transform: rotate(45deg) scaleY(1);
}

.t-checkbox_fake.disabled{
    background-color: #eff2f7;
    border-color: #d3dce6;
    cursor: not-allowed;
}
