<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>input</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../dist/lanlanUI.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <h1>input</h1>
        <h2>size</h2>
        <p>defalut</p>
        <t-input v-model='inputValue'></t-input>
        <p>large</p>
        <t-input v-model='inputValue' size='large'></t-input>
        <p>small</p>
        <t-input v-model='inputValue' size='small'></t-input>
        <p>tiny</p>
        <t-input v-model='inputValue' size='tiny'></t-input>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data:{
            inputValue:''
        },
        watch:{
            inputValue(value){
                console.log(value)
            }
        }
    })
</script>
</html>