<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>row-col</title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../dist/lanlanUI.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<style>
    .v-header,.v-footer{
        text-align: center;
        height: 36px;
        line-height: 36px;
        background: #000;
        color: #FFF;
        font-size: 12px;
    }
    .v-sider{
        background: rgba(0,153,229,.7);
    }
    .v-content{
        background: rgba(0, 117, 175, 0.9);
    }

</style>
<body>
    <div id="app" v-cloak>
        <t-header>header</t-header>
        <t-layout>
            <t-sider>sider</t-sider>
            <t-content>
                <div id="contents"></div>
            </t-content>
        </t-layout>
        <t-footer>footer</t-footer>
    </div>
</body>
<script type="text/template" id="contents-template">
    <div>
        <h1>无sider</h1>
        <t-header>header</t-header>
        <t-layout class='demo-content'>
            <t-content>
                <p v-for="i in 10" :key='i' v-text='i'></p>
            </t-content>
        </t-layout>
        <t-footer>footer</t-footer>
        <br>
        <h1>左sider</h1>
        <t-header>header</t-header>
        <t-layout class='demo-content'>
            <t-sider>sider</t-sider>
            <t-content>
                <p v-for="i in 10" :key='i' v-text='i'></p>
            </t-content>
        </t-layout>
        <t-footer>footer</t-footer>
        <br>
        <h1>左sider</h1>
        <t-layout>
            <t-sider>sider</t-sider>
            <t-layout class='demo-content'>
                <t-header>header</t-header>    
                <t-content>
                    <p v-for="i in 10" :key='i' v-text='i'></p>
                </t-content>
                <t-footer>footer</t-footer>
            </t-layout>
        </t-layout>
        <br>
        <h1>右sider</h1>
        <t-header>header</t-header>
        <t-layout class='demo-content'>
            <t-content>
                <p v-for="i in 10" :key='i' v-text='i'></p>
            </t-content>
            <t-sider width="400">sider</t-sider>
        </t-layout>
        <t-footer>footer</t-footer>
    </div>
</script>
<script>
    Vue.config.devtools = true;
    new Vue({ el: "#app" });

    let content = Vue.extend({
        template: document.getElementById('contents-template')
    });
    new content().$mount('#contents');
</script>