.t-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.5);
}

.t-modal {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.t-modal-header{
    padding: 10px 20px;
    border-bottom: 1px solid #1f2d3d;
    .t-modal-title {
        line-height: 1;
        font-size: 16px;
        font-weight: 700;
        color: #1f2d3d;
    }
    .t-modal-close{
        float: right;
        cursor: pointer;
    }
    .t-modal-close:hover{
        color: #FE814B;
    }
}

.t-modal-body {
    padding: 10px 20px;
}

.t-modal-footer{
    padding: 10px 20px;
    border-top: 1px solid #1f2d3d;
}

.t-modal-tiny{
    width: 300px;
}
.t-modal-default{
    width: 500px;
}
.t-modal-large{
    width: 700px;
}
