.t-exapmple{
    position: relative;
}
.t-exapmple.t-exapmple-horizontal{
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 20px 0;
}
.t-exapmple-horizontal .t-exapmple-view{
    padding: 0 20px;
    margin-bottom: 20px;
}
.t-exapmple-horizontal .t-exapmple-split{
    border: 1px dashed #eee;
}
.t-exapmple-horizontal .t-exapmple-markdown{
    border-top: 1px solid #eee;
    padding: 20px;
    overflow-y: scroll;

}
.t-exapmple-horizontal .t-exapmple-code{
    padding: 20px;
    padding-bottom: 0;
    overflow-y: scroll;
}


.t-exapmple.t-exapmple-vertical{
    border: 1px solid #eee;
    border-radius: 6px;
}
.t-exapmple-vertical .row{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.t-exapmple-vertical .t-exapmple-code{
    padding: 20px;
    border-left: 1px dashed #eee;
    overflow-y: scroll;
}
.t-exapmple-vertical .t-exapmple-view{
    padding: 20px;
}
.t-exapmple-vertical .t-exapmple-markdown{
    border-top: 1px solid #eee;
    padding: 20px;
    overflow-y: scroll;
}

.t-exapmple .more{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    text-align: center;
    background: rgba(0,0,0,.3);
    cursor: pointer;
    color: #FFF;
}