<label class="t-radio">
    <span class="t-radio_box" :class="{'isDisabled': disabled,'isChecked': model === label}">
        <input
                type="radio"
                class="t-radio_ori"
                :name="name"
                :disabled="disabled"
                :value="label"
                v-model="model"
        >
        <span class="t-radio_input"></span>
    </span>

    <span class="t-radio_label" v-if="$slots.default || label">
        <slot></slot>
        <template v-if="!$slots.default">{{label}}</template>
    </span>

</label>