.t-notice{
    width: 300px;
    padding: 20px;
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 6666;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 1px #ff5252;
    color: #333;
    transition: opacity .3s,transform .3s,right .3s,top .4s;
}
.t-notice .box{
    position: relative;
}
.t-notice p{
    padding-top: 10px;
    font-size: 14px;
    color: #666;
}
.t-notice .close-icon{
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    cursor: pointer;
}

.notice-fade-leave-active {
    opacity: 0;
}
.notice-fade-enter{
    transform: translateX(100%);
}