
.t-tooltip{
    display: inline-block;
}

.t-tooltip_popper{
    position: absolute;
    z-index: 2000;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 4px;
    padding: 10px;
}

.t-tooltip_popper.dark{
    background-color: #000;
    color: #fff;
}
.t-tooltip_popper.light{
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}


/**
 * dark
 * ================
 */
.t-tooltip_popper .popper__arrow{
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}
.t-tooltip_popper[x-placement^="top"] {
    margin-bottom: 5px;
}
.t-tooltip_popper[x-placement^="top"] .popper__arrow {
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.t-tooltip_popper[x-placement^="bottom"] {
    margin-top: 5px;
}
.t-tooltip_popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #000 transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.t-tooltip_popper[x-placement^="right"] {
    margin-left: 5px;
}
.t-tooltip_popper[x-placement^="right"] .popper__arrow {
    border-width: 5px 5px 5px 0;
    border-color: transparent #000 transparent transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.t-tooltip_popper[x-placement^="left"] {
    margin-right: 5px;
}
.t-tooltip_popper[x-placement^="left"] .popper__arrow {
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #000;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

/**
 * light
 * ================
 */
.t-tooltip_popper.light .popper__arrow:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}
.t-tooltip_popper.light[x-placement^="top"] .popper__arrow:after{
    left: -5px;
    top: -6px;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
}
.t-tooltip_popper.light[x-placement^="bottom"] .popper__arrow:after{
    left: -5px;
    top: 1px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
}
.t-tooltip_popper.light[x-placement^="left"] .popper__arrow:after{
    left: -6px;
    top: -5px;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #fff;
}
.t-tooltip_popper.light[x-placement^="right"] .popper__arrow:after{
    left: 1px;
    top: -5px;
    border-width: 5px 5px 5px 0;
    border-color: transparent #fff transparent transparent;
}

/**
 * transition
 * ================
 */
.fade-enter-active, .fade-leave-active {
    transition: opacity .6s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}