<div class="t-clock" v-show="visible">

    <div class="t-clock_header">
        <div class="t-clock_time">
            <b :class="{'text-color': dial == 0}" @click="setDial(0)">{{value[0]}}</b> :
            <b :class="{'text-color': dial == 1}" @click="setDial(1)">{{value[1]}}</b>
            <template v-if="showSecond"> : <b :class="{'text-color': dial == 2}" @click="setDial(2)">{{value[2]}}</b></template>
        </div>
    </div>
    <div class="t-clock_content">
        <div class="t-clock_plate" @mousedown="gapMouseDown">
            <div ref="canvas" class="t-clock_canvas"></div>

            <div v-if="dial == 0" class="t-clock_dial hour">
               <span class="t-clock_tick"
                     v-for="hour in hourDial"
                     :style="{ left: hour.left + 'px',top:hour.top + 'px' }"
                     @mousedown="tickMouseDown"
               >{{hour.num}}</span>
            </div>

            <div v-if="dial == 1" class="t-clock_dial minute">
               <span class="t-clock_tick"
                     v-for="minute in minuteDial"
                     :style="{ left: minute.left + 'px',top:minute.top + 'px' }"
                     @mousedown="tickMouseDown"
               >{{minute.num}}</span>
            </div>

            <div v-if="dial == 2" class="t-clock_dial second">
               <span class="t-clock_tick"
                     v-if="dial == 2"
                     v-for="second in secondDial"
                     :style="{ left: second.left + 'px',top:second.top + 'px' }"
                     @mousedown="tickMouseDown"
               >{{second.num}}</span>
            </div>
        </div>
    </div>
</div>