.t-popper {
  display: inline-block !important;
  z-index: 9999;
}
.t-popper-main{
  padding: 5px 0 8px 0;
}
.t-popper-inner{
  max-width: 250px;
  min-height: 34px;
  padding: 8px 12px;
  text-align: left;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.t-popper-arrow{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;

  bottom: 3px;
  border-width: 5px 5px 0;
  border-top-color: rgba(0, 0, 0, 0.5);
  right: 20px;
}