.v-menu{
    display: block;
    position: relative;
}

.v-menu-item-sub{
    height: inherit;
    line-height: inherit;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.v-menu-horizontal .v-menu-item-sub.v-menu-item-sub-poptip-bottom.active{
    border-bottom: 2px solid #FF773D;
    color: #FF773D;
}

.v-menu-horizontal .v-menu-item-sub.v-menu-item-sub-poptip-bottom:hover{
    border-bottom: 2px solid #FF773D;
    color: #FF773D;
}

.v-menu-horizontal{
    height: 60px;
    line-height: 60px;
    letter-spacing: -5px;
}

.v-menu-horizontal::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
    background: #dddee1;
}

.v-menu-horizontal .v-menu-item-sub{
    display: inline-block;
    letter-spacing: 0;   
}

.v-menu-vertical{
    display: inline-block;
    width: 200px;
    height: 100%;
}
.v-menu-vertical .v-menu-item-sub{
    height: 60px;
    line-height: 60px;
}
.v-menu-vertical::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: #dddee1;
}

.v-menu-vertical .v-menu-item-sub.active{
    border-right: 2px solid #FF773D;
    color: #FF773D;
}

.v-menu-item-group{
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    padding: 5px 0;
    margin: 5px 0;
}

.v-menu-item{
    padding: 7px 16px 8px;
    font-size: 14px !important;
    color: #000;
    text-align: center;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 2;
}
.v-menu-item:hover{
    background: rgba(0,0,0,.1);
}
.v-menu-horizontal .v-menu-item-sub.v-menu-item-sub-poptip-bottom > .v-menu-item-sub-poptip{
    padding: 0 35px;
}
.v-menu-item-sub-poptip .t-poptip-poper{
    background: none;
}
.v-menu-item-sub-poptip-right-start{
    display: block !important;
}
.v-menu-item-sub-poptip-right-start .v-menu-item-sub-poptip{
    display: block !important;
}
.v-menu-item-sub-poptip-right-start .v-menu-item-sub-title{
    padding: 7px 16px 8px;
}
