._menu_item{
    display: inline-block;
    letter-spacing: 0;
    border-bottom: 2px solid rgba(0,0,0,0);
    line-height: 60px;
    padding: 0 20px;
}

.v-menu{
    position: relative;

    .t-poptip-poper{
        background-color: rgba(0,0,0,0); 
    }

    .v-menu-item,.v-menu-item-sub{
        height: inherit;
        line-height: inherit;
        position: relative;
        z-index: 3;
        cursor: pointer;
    }
    
    // .v-menu-item-group{
        // height: inherit;
        // line-height: inherit;
        // position: relative;
        // z-index: 3;
        // cursor: pointer;
        // background: #FFF;
        // border-radius: 4px;
        // box-shadow: 0 1px 6px rgba(0,0,0,.2);
        // padding: 5px 0;
        // margin: 5px 0;
    // }
}
.v-menu-horizontal{

    letter-spacing: -5px;

    .t-poptip{
        // padding: 0 35px;
    }

    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        z-index: 1;
        background: #dddee1;
    }
    .v-menu-item,.v-menu-item-sub{
        ._menu_item();

        &.active{
            border-bottom: 2px solid #FF773D;
            color: #FF773D;
        }
        &:hover{
            border-bottom: 2px solid #FF773D;
            color: #FF773D;
        }
    }
    
    .v-menu-item-group{
        border: 1px solid #EEE;
        background: #fff;
        
        .v-menu-item{
            text-align: center;
            padding: 7px 16px 8px;
            line-height: 14px;
            display: block;
            color: #000;
            border-bottom: none;
        }
    }
}

.v-menu-vertical{
    display: inline-block;
    width: 200px;
    height: 100%;
    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background: #dddee1;
    }
    .v-menu-item-sub{
        height: 60px;
        line-height: 60px;

        &.active{
            border-right: 2px solid #FF773D;
            color: #FF773D;
        }
        .v-menu-item-sub-title{
            padding: 0 35px;
        }
    }
}